# =====================
# Node / JavaScript
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Environment variables
.env
.env.*

# =====================
# Frontend builds
# =====================
build/
dist/

# =====================
# Terraform
# =====================
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
.terraform.lock.hcl

# =====================
# OS / Editor
# =====================
.DS_Store
.vscode/
